{% extends 'inheritance.html' %}
{% block title %}{% endblock title %}
{% block scripts %}
<script>
    $(document).ready(function(){
    var ctx = document.getElementById('BTC30').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ x }},
        datasets: [{
            label: 'BTC Price - Last 30 Days ($)',
            data: {{ price }},
            backgroundColor: [
                'rgba(32, 249, 242, 0.5)',
            ],
            borderColor: [
                'rgba(32, 249, 242, 0.5)',
            ],
            borderWidth: 0.1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                }
            }]
        }
    }
});
    });
</script>

{% endblock scripts %}

{% block content %}
<center>
<body style="color:white">
    </br>
    <h1 style="color:white">BTC</h1>
    <h5 style="color:white">PERFORMANCE - 30D</h5>
    <h5 style="color:green"><b>- {{ performance }}% -</b></h5>

    </br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="btn-text-right">
                    <button class="btn btn-outline-light"><a style="color:white" href="/btc">240</a></button>
                    <button class="btn btn-outline-light"><a style="color:white" href="/btc30">30</a></button>
                </div>
                <canvas id="BTC30" width="300" height="120"></canvas>
            </div>
        </div>
    </div>
</body>
</center>
{% endblock %}